// Elements - Body
//--------------------------------------------//

body,
html
{
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body
{
	overscroll-behavior: none;
}

::-moz-selection { background: var(--ast-global-color-0); color: #FFF; }
::selection { background: var(--ast-global-color-0); color: #FFF; }