// Typography - Copy
//--------------------------------------------//

address, blockquote, body, dd, dl, dt, fieldset, figure, html, legend, li, ol, p, pre, ul
{
	@include body-level-4;
}

h1, h2, h3, h4, h5, h6, 
.elementor-widget-heading .elementor-heading-title
{
	margin-bottom: 0;
}

.entry-content
{

	h1, h2, h3, h4, h5, h6, p, ul, ol
	{
		margin-bottom: 40px;
	}
	
}

.entry-content h1, .entry-content h2,
.elementor-widget-heading h1.elementor-heading-title, .elementor-widget-heading h2.elementor-heading-title
{

	@include heading-level-6;

	@include r(xl)
	{
		@include heading-level-4;
	}

	@include r(lg)
	{
		@include heading-level-4;
	}

	@include r(sm)
	{
		@include heading-level-1;
	}

}

.entry-content h3, .entry-content h4, .entry-content h5, .entry-content h6,
.elementor-widget-heading h3.elementor-heading-title, .elementor-widget-heading h4.elementor-heading-title, .elementor-widget-heading h5.elementor-heading-title, .elementor-widget-heading h6.elementor-heading-title
{

	@include heading-level-4;

	@include r(lg)
	{
		@include heading-level-1;
	}

	@include r(sm)
	{
		@include body-level-6;
	}

}

.subtitle
{

	&.elementor-widget:not(:last-child)
	{
		margin-bottom: 0px;
	}

	h1, h2, h3, h4, h5, h6
	{

		@include heading-level-2;

		@include r(lg)
		{
			@include body-level-5;
		}

	}

}

p,
.elementor-text-editor,
.elementor-widget-text-editor
{

	letter-spacing: 0;
	padding-bottom: 0;
	margin-bottom: 40px;

	&:last-child {
		margin-bottom: 0;
	}

	h1, h2, h3, h4, h5, h6
	{

		@include heading-level-1;

		@include r(sm)
		{
			@include body-level-5;
		}

		&:last-child {
			margin-bottom: 0;
		}

	}

}

ul
{
	list-style: disc;
}

ol
{
	list-style: decimal;
}

ul,
ol
{

	margin: 0 0 40px 20px;

	&:last-child
	{
		margin-bottom: 0;
	}

	li {
		letter-spacing: 0;
	}

}

li > ul,
li > ol
{
	margin-bottom: 0;
	margin-left: 20px;
}

a
{
	outline: none !important;
	letter-spacing: 0;
}

blockquote
{

	padding: 20px;
	margin-bottom: 40px;

	p
	{
		font-style: italic;
		margin: 0;
	}

}

address
{
	margin-bottom: 0;
}

hr
{
	background-color: #EEE;
	border: 0;
	height: 1px;
	margin-bottom: 40px;
}