// Components - Forms
//--------------------------------------------//

.frm_forms
{

	form
	{

		fieldset
		{

			padding: 0;
			border: 0;

			label
			{
				font-size: 14px;
				line-height: 24px;
				display: block;
			}

			input[type="email"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], textarea, select
			{
				width: 100%;
				border: 0;
				padding: 5px 20px;
				font-style: italic;
				@include border-radius(0px);
				@include appearance(none);
				font-size: 18px;
				line-height: 28px;
			}

			textarea
			{
				max-height: 80px;
				overflow: auto;
				resize: none;
			}

			select
			{
				position: relative;
				-moz-appearance: none;
				-webkit-appearance: none;
				background-image: url(assets/dist/images/bg-select.png);
				background-position: right 20px bottom 50%;
				background-repeat: no-repeat;
			}

			select::-ms-expand
			{
				display: none;
			}

			.frm_display_format_buttons
			{

				.frm_opt_container
				{
					padding-left: 0;
				}

				.frm_primary_label
				{
					font-size: 14px;
					line-height: 24px;
					margin-bottom: 10px;
				}

				.frm_radio, .frm_label_button_container
				{
					flex: initial;
					display: inline-block;
				}

				.frm_radio
				{
					margin-right: 10px;
				}

				.frm_label_button_container
				{
					padding: 6px 20px;
					font-size: 14px;
					line-height: 24px;
				}

				input[type="radio"]:checked + .frm_label_button_container
				{
					background-color: var(--ast-global-color-8) !important;
					color: var(--ast-global-color-1);
				}

			}

			.frm_opt_container
			{

				display: block;
				position: relative;
				padding-left: 40px;
				cursor: pointer;
				-webkit-user-select: none;
				-moz-user-select: none;
				-ms-user-select: none;
				user-select: none;

				input
				{

					position: absolute;
					opacity: 0;
					cursor: pointer;
					height: 0;
					width: 0;

					&:checked ~ .checkmark
					{

						background-color: var(--ast-global-color-5);

						&::after
						{
							display: block;
						}

					}

				}

				.checkmark
				{

					position: absolute;
					top: 2px;
					left: 0;
					height: 25px;
					width: 25px;
					background-color: #fff;
					border: 1px var(--ast-global-color-8) solid;
					cursor: pointer;

					&::after
					{
						content: "";
						position: absolute;
						display: none;
						left: 9px;
						top: 5px;
						width: 5px;
						height: 10px;
						border: solid white;
						border-width: 0 3px 3px 0;
						-webkit-transform: rotate(45deg);
						-ms-transform: rotate(45deg);
						transform: rotate(45deg);
					}

				}

			}

			.terms
			{

				@media screen and (min-width: 1171px)
				{
					grid-column: 1 / 9;
					max-width: 480px;
					align-self: center;
					margin-bottom: 0;
				}

				label
				{
					cursor: pointer;
					font-size: 16px;
					line-height: 26px;
				}

			}

			.frm_submit
			{

				text-align: right;

				@media screen and (min-width: 1171px)
				{
					grid-column: 10 / 13;
					justify-self: end;
				}

			}

			.frm_dropzone
			{

				width: 100%;
				max-width: none !important;

				.dz-message
				{
					background: transparent;
				}

				.dz-preview
				{

					display: grid;
					grid-template-columns: max-content auto;

					.dz-image, .dz-column
					{
						float: none;
						width: 100%;
					}

				}

			}

			.frm_form_field
			{
				margin-bottom: 20px;
			}

		}

		.frm_inside_container
		{

			label
			{
				display: none;
			}

		}

		.frm_hidden_container
		{

			.frm_primary_label
			{
				display: none;
			}

		}

		.frm_error_style, .frm_error
		{
			background-color: #d21919;
			color: #fff;
			padding: 10px;
			font-size: 14px;
			line-height: 24px;
		}

		.frm_error_style
		{
			margin-bottom: 15px;
		}

		.frm_error
		{
			font-size: 14px;
			line-height: 24px;
		}
	}

	@mixin placeholders
	{
		opacity: 1;
		color: var(--site-global-color-form-field-text);
		font-style: italic;
	}

	@mixin invalid-placeholders
	{
		opacity: 1;
		color: #f00;
	}

	$vendors: (":-webkit-input", "-moz", ":-moz", "-ms-input");

	@each $vendor in $vendors
	{

		form :#{$vendor}-placeholder
		{
			@include placeholders;
		}

	}

	@each $vendor in $vendors
	{

		form input:focus:required:invalid:#{$vendor}-placeholder
		{
			@include invalid-placeholders;
		}

	}

}