// Layouts - Footer
//--------------------------------------------//

// General
.site-footer
{

	.ast-builder-grid-row-container-inner
	{
		max-width: var(--wp--custom--ast-content-width-size);
		margin: 0 auto;
		width: 100%;
	}

	h3
	{

		@include body-level-4;

		@include r(md)
		{
			text-align: left;
		}

		@include r(sm)
		{
			text-align: center;
		}

	}

	.site-footer-section
	{

		margin-bottom: 0 !important;

		@include r(md)
		{
			margin-bottom: 40px !important;
		}

		&:last-child
		{

			@include r(md)
			{
				margin-bottom: 0 !important;
			}

		}

	}

	// Primary Footer
	.site-primary-footer-wrap[data-section="section-primary-footer-builder"]
	{

		background-color: transparent;
		padding: 100px 0;
		border: 0;

		.ast-builder-grid-row
		{
			max-width: none;
			padding-left: 20px;
			padding-right: 20px;
		}

	}

	// Footer Navigation
	.footer-nav-wrap, .widget_nav_menu
	{

		ul
		{

			.menu-item
			{

				padding: 0;

				@include r(lg)
				{
					text-align: left;
				}

				@include r(sm)
				{
					text-align: center;
				}

				.menu-link
				{
					padding: 0;
					color: var(--ast-global-color-0);
					@include body-level-4;
				}

				&:hover, &.current-menu-item, &.current-menu-parent, &.current-page-ancestor 
				{

					.menu-link
					{
						color: var(--ast-global-color-1);
					}

				}

			}

		}

	}

	// Footer Social Icons
	.ast-footer-social-wrap
	{

		.ast-builder-social-element
		{

			margin: 0 30px 0 0;

			&:last-child
			{
				margin: 0;
			}

			svg
			{

				fill: var(--ast-global-color-0);
				transition: all 0.5s ease;
				width: 25px;
				height: 25px;

				&:hover
				{
					fill: var(--ast-global-color-1);
				}

			}

		}

	}

	.footer-social-inner-wrap
	{

		@include r(xl)
		{
			text-align: center;
		}

	}

	// Below Footer
	.site-below-footer-wrap
	{

		padding: 10px 0;
		min-height: 0;

		.ast-builder-grid-row-container-inner
		{

			width: 100%;

			.ast-builder-grid-row
			{
				max-width: var(--wp--custom--ast-content-width-size);
				padding: 0 20px;
			}

		}

	}

	// Copyright
	.ast-footer-copyright
	{

		text-align: center;
		margin: 0 !important;

		@include r(xl)
		{
			text-align: center;
		}

		p
		{
			@include body-level-2;
		}

	}

}
