// Pages - Standard Page
//--------------------------------------------//

*:focus
{
	outline: none;
}

.elementor-top-section.elementor-section-boxed
{

	padding: 150px 0;

	@include r(lg)
	{
		padding: 80px 0;
	}

	> .elementor-container
	{

		padding: 0 20px;
		width: 100%;
		max-width: var(--wp--custom--ast-content-width-size);

		@include r(lg)
		{
			max-width: 768px;
		}

		.elementor-col-100 .elementor-widget-wrap
		{
			padding: 0;
		}

		.elementor-container
		{
			padding: 0;
		}

	}

}

.elementor-widget:not(:last-child)
{
	margin-bottom: 40px;
}

.elementor-column-gap-default
{

	> .elementor-column
	{

		> .elementor-element-populated
		{
			padding: 0;
		}

	}

}

.error404 #content .ast-container
{

	max-width: 100%;
	padding: 0 !important;

	#primary
	{
		margin: 0 !important;
		padding: 0 !important;
	}

}